{% extends 'layout/baseLayout.html.twig' %}


{% block header %}

    <!-- Bootstrap Select Css -->
    <link href="{{ asset('plugins/bootstrap-select/css/bootstrap-select.css') }}" rel="stylesheet" />

    <!-- Izimodal Css -->
    <link href="{{ asset('css/iziModal.min.css') }}" rel="stylesheet" type="text/css">

    <!-- Notify Css -->
    <link href="{{ asset('css/notify.css') }}" rel="stylesheet" type="text/css">

    <style>
        .alert-black{
            background-color: black;
        }
    </style>


{% endblock %}

{% block menu %}
    {% include 'MesaDeAyuda/menu/CU01menu02.html.twig' %}
{% endblock %}


{% block content %}


<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>REGISTRAR TICKETS</h2>
        </div>


        <!-- Tabs With Icon Title -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            ACCIONES REQUERIDAS PARA EL TICKET
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            {% if active == 1 %}
                            <li role="presentation" class="active">
                                <a href="#home_with_icon_title" data-toggle="tab">
                                    <i class="material-icons">clear</i> CERRAR
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#profile_with_icon_title" data-toggle="tab">
                                    <i class="material-icons">near_me</i> DERIVAR
                                </a>
                            </li>
                            {% else %}
                            <li role="presentation" >
                                <a href="#home_with_icon_title" data-toggle="tab">
                                    <i class="material-icons">clear</i> CERRAR
                                </a>
                            </li>
                            <li role="presentation" class="active">
                                <a href="#profile_with_icon_title" data-toggle="tab">
                                    <i class="material-icons">near_me</i> DERIVAR
                                </a>
                            </li>
                            {% endif %}

                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">

                                <form id="formulario" method="post" action="{{ path('CU01CerrarMesa') }}">

                                    {% if error.has('ticket') %}
                                        <label class="error">{{ error.get('ticket') }}</label>
                                    {% else %}

                                    <input type="hidden" name="idTicket" class="form-control" value="{{ requestflash.get(0) }}">

                                    {% endif %}


                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group form-float">
                                            {% if error.has('observacion') %}

                                                <div class="form-line focused error">
                                                    <textarea  id="observacionT" name="observacion" cols="30" rows="5" class="form-control no-resize" required>{{ requestflash.get(1) }}</textarea>

                                                    <label class="form-label">Observaciones</label>
                                                </div>
                                                <label class="error">{{ error.get('observacion') }}</label>

                                            {% else %}
                                                <div class="form-line">
                                                    <textarea  id="observacionT" name="observacion" cols="30" rows="5" class="form-control no-resize" required>{% if error.evaluate() %}  {{ requestflash.get(1) }} {% endif %}</textarea>

                                                    <label class="form-label">Observaciones</label>
                                                </div>
                                                <div class="help-info">Min. 3, Max. 255 caracteres</div>
                                            {% endif %}
                                        </div>
                                    </div>


                                </div>




                                <!-- BOTONES-->
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                    <button type="button" id="cerrar" class="btn bg-cyan m-t-15 waves-effect open-options">CERRAR</button>
                                        </div>
                                    </div>
                                </div>
                                </form>

                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="profile_with_icon_title">

                                <!-- GRUPO DE RESOLUCION-->
                                <form id="formDerivar" method="post" action="{{ path('CU01DerivarMesa') }}">
                                    <input type="hidden" name="ticket" value="{{ requestflash.get(0) }}">

                                <div class="row clearfix">
                                    <div class="col-sm-12">

                                                <select class="form-control show-tick" id="grupo_resolucion" name="grupo">
                                                   {% for grupo in grupos %}
                                                    <option value="{{ grupo.Id }}">{{ grupo.Nombre }}</option>
                                                    {% endfor %}
                                                </select>

                                    </div>


                                </div>

                                <!-- BOTONES-->
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                        <button type="button" id="derivar" class="btn bg-cyan m-t-15 waves-effect">DERIVAR</button>
                                    </div>
                                    </div>
                                </div>
                                </form>




                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Tabs With Icon Title -->



        <!-- CON OPCIONES-->
        <div id="modal-options" class="iziModal" data-izimodal-group="group1" data-izimodal-loop="" data-izimodal-title="¿ESTA SEGURO DE CERRAR EL TICKET?" data-izimodal-subtitle="Cerrar solo si ha confirmado que esta resuelto el problema">


            <!-- Basic Card -->
            <div class="row clearfix">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                    <div class="body align-right" style="padding: 20px">

                        <div class="button-demo">
                            <button type="button" class="btn bg-grey waves-effect" onclick="cerrarIzimodal()">CANCELAR</button>
                            <button type="button" class="btn bg-red waves-effect" onclick="submitCerrar()">ACEPTAR</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- #END# Basic Card -->

        <!-- modal derivar-->
        <div id="modal-derivar" class="iziModal" data-izimodal-group="group1" data-izimodal-loop="" data-izimodal-title="¿ESTA SEGURO DE DERIVAR EL TICKET?" data-izimodal-subtitle="Derivar a un grupo de resolución acorde al problema">
            <!-- Basic Card -->
            <div class="row clearfix">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                    <div class="body align-right" style="padding: 20px">

                        <div class="button-demo">
                            <button type="button" class="btn bg-grey waves-effect" onclick="cerrarIziDerivar()">CANCELAR</button>
                            <button type="button" class="btn bg-red waves-effect" onclick="submitDerivar()">ACEPTAR</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- #END# Basic Card -->




    </div>
</section>

{% endblock %}

{% block footer %}


<!-- Bootstrap Notify Plugin Js -->
<script src="{{ asset('plugins/bootstrap-notify/bootstrap-notify.js') }}"></script>

<!-- Select Plugin Js -->
<script src="{{ asset('plugins/bootstrap-select/js/bootstrap-select.js') }}"></script>

<!-- Slimscroll Plugin Js -->
<script src="{{ asset('plugins/jquery-slimscroll/jquery.slimscroll.js') }}"></script>

    <!-- Izimodal -->
    <script src="{{ asset('plugins/izimodal/iziModal.min.js') }}"></script>

<!-- Bootstrap Notify Plugin Js -->
<script src="{{ asset('plugins/bootstrap-notify/bootstrap-notify.js') }}"></script>
<script src="{{ asset('js/notify.js') }}"></script>


<script>
    //options
    $(document).on('click', '#cerrar', function(event) {
        event.preventDefault();
        var textA = document.getElementById('observacionT');
        if(textA.value == "") {
            /*
             $('#modal-alert').iziModal({
             headerColor: '#d43838',
             timeout: 10000,
             timeoutProgressbar: true,
             pauseOnHover: true
             });
             $('#modal-alert').iziModal('open');
             */
            $.notify({
                title: '  ',

                message: 'No se puede cerrar sin agregar observaciones'
            },{
                type: 'black',

                animate: {
                    enter: 'animated fadeInDown',
                    exit: 'animated fadeOutDown'
                },
                placement: {
                    from: "top",
                    align: "left"
                },
                offset: 20,
                spacing: 10,
                z_index: 1031
            });
        }
        else {


            $('#modal-options').iziModal({
                headerColor: '#F44336',
                width: '50%', //横幅
                overlayColor: 'rgba(0, 0, 0, 0.5)', //モーダルの背景色
                fullscreen: true, //全画面表示
                transitionIn: 'fadeInUp', //表示される時のアニメーション
                transitionOut: 'fadeOutDown' //非表示になる時のアニメーション
            });
            $('#modal-options').iziModal('open');

        }



    });
    function cerrarIzimodal(){
        $('#modal-options').iziModal('close');
    }



</script>

    <script>
        //options
        $(document).on('click', '#derivar', function(event) {
            event.preventDefault();


                $('#modal-derivar').iziModal({
                    headerColor: '#F44336',
                    width: '50%', //横幅
                    overlayColor: 'rgba(0, 0, 0, 0.5)', //モーダルの背景色
                    fullscreen: true, //全画面表示
                    transitionIn: 'fadeInUp', //表示される時のアニメーション
                    transitionOut: 'fadeOutDown' //非表示になる時のアニメーション
                });
                $('#modal-derivar').iziModal('open');





        });
        function cerrarIziDerivar(){
            $('#modal-derivar').iziModal('close');
        }



    </script>

    <script>
        function success(string) {
            document.getElementById("cerrar").setAttribute('disabled', 'disable');
            document.getElementById("derivar").setAttribute('disabled', 'disable');
            document.getElementById('observacionT').readOnly = true;
            successNotify(string);

        }
        function submitCerrar() {
            $("#formDerivar").submit(function(e){
                e.preventDefault();
            });
            document.getElementById('formulario').submit();

        }
        function submitDerivar() {
            $("#formulario").submit(function(e){
                e.preventDefault();
            });
            document.getElementById('formDerivar').submit();
        }
    </script>

{% endblock %}