{% extends 'layout/baseLayout.html.twig' %}


{% block header %}

    <!-- Bootstrap Material Datetime Picker Css -->
    <link href="{{ asset('plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css') }}" rel="stylesheet" />

    <!-- Wait Me Css -->
    <link href="{{ asset('plugins/waitme/waitMe.css') }}" rel="stylesheet" />

    <!-- Bootstrap Select Css -->
    <link href="{{ asset('plugins/bootstrap-select/css/bootstrap-select.css') }}" rel="stylesheet" />

    <!-- datedrooper -->
    <link href="{{ asset('plugins/datedrooper/datedropper.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block menu %}
    {% include 'MesaDeAyuda/menu/CU02menu01.html.twig' %}
{% endblock %}


{% block content %}
    

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>CONSULTAR TICKETS</h2>
        </div>



        <!-- Multi Column -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            INGRESE ALGUN CRITERIO DE BUSQUEDA
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <form id="formulario" method="post" action="{{ path('CU02ProcesarConsulta') }}">
                            <!-- NUMERO DE TICKET Y NUMERO DE LEGAJO -->
                            <div class="row clearfix">
                                <div class="col-md-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="number" class="form-control" name="idTicket" min="1">
                                            <label class="form-label">Numero de Ticket</label>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="number" class="form-control" name="legajo" min="1">
                                            <label class="form-label">Numero de Legajo</label>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- CLASIFICACION DE TICKET-->
                            <div class="row clearfix">
                                <div class="col-md-12">
                                    <div class="form-group">

                                        <select class="form-control show-tick" id="clasificacion_ticket" name="clasificacion">
                                            {% for clas in clasificaciones %}
                                                <option value="{{ clas.id }}">{{ clas.nombre }}</option>
                                            {% endfor %}
                                        </select>

                                    </div>
                                </div>
                            </div>


                            <!-- ESTADO TICKET Y GRUPO DE RESOLUCION -->
                            <div class="row clearfix">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <select class="form-control show-tick" id="estado_ticket" name="estado">
                                            {% for estado in estados %}
                                                <option value="{{ estado.id }}">{{ estado.descripcion }}</option>
                                            {% endfor %}
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <select class="form-control show-tick" id="gruposResolucion" name="grupoRes">
                                            {% for grupo in grupos %}
                                                <option value="{{ grupo.id }}">{{ grupo.nombre }}</option>
                                            {% endfor %}
                                        </select>

                                    </div>
                                </div>

                            </div>


                            <!-- FECHA DE CREACION Y ULTIMO CAMBIO -->
                            <div class="row clearfix">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="form-line">

                                                            <input type="text" id="fechaCreacion" name="fechaCreacion" placeholder="Fecha de Creación" class="form-control" data-modal="true" data-large-mode="true" data-lang="es" data-format="d-m-Y" data-large-default="true" onfocus="CreacionInit()">

                                                            <script>
                                                                function CreacionInit() {

                                                                    $('#fechaCreacion').dateDropper();

                                                                }
                                                            </script>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group ">
                                                        <div class="form-line ">

                                                            <input type="text" id="ultimoCambio" name="fechaCambio" placeholder="Fecha de Último cambio de estado" class="form-control" data-modal="true" data-large-mode="true" data-lang="es" data-format="d-m-Y" data-large-default="true" onfocus="UltimoInit()">

                                                            <script>
                                                                function UltimoInit() {

                                                                    $('#ultimoCambio').dateDropper();

                                                                }
                                                            </script>
                                                        </div>
                                                    </div>
                                                </div>
                            </div>



                            <button type="submit" class="btn bg-cyan m-t-15 waves-effect">BUSCAR</button>


                        </form>
                    </div>
                </div>
            </div>


        </div>


    </div>
</section>

{% endblock %}


{% block footer %}

<!-- Select Plugin Js -->
<script src="{{ asset('plugins/bootstrap-select/js/bootstrap-select.js') }}"></script>

<!-- Slimscroll Plugin Js -->
<script src="{{ asset('plugins/jquery-slimscroll/jquery.slimscroll.js') }}"></script>


<!-- Autosize Plugin Js -->
<script src="{{ asset('plugins/autosize/autosize.js') }}"></script>

<!-- Moment Plugin Js -->
<script src="{{ asset('plugins/momentjs/moment.js') }}"></script>

<!-- Bootstrap Material Datetime Picker Plugin Js -->
<script src="{{ asset('plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js') }}"></script>


<script src="{{ asset('js/pages/forms/basic-form-elements.js') }}"></script>

<!-- dateDropper lib -->
<script src="{{ asset('plugins/datedrooper/datedropper.js') }}"></script>

{% endblock %}