@extends('layoutConstantes.baseLayout')


@section('header')
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css') }}">

    <!-- Bootstrap Material Datetime Picker Css -->
    <link href="{{ asset('plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css') }}" rel="stylesheet" />

    <!-- Wait Me Css -->
    <link href="{{ asset('plugins/waitme/waitMe.css') }}" rel="stylesheet" />

    <!-- Bootstrap Select Css -->
    <link href="{{ asset('plugins/bootstrap-select/css/bootstrap-select.css') }}" rel="stylesheet" />

    <!-- Izimodal Css -->
    <link href="{{ asset('css/iziModal.min.css') }}" rel="stylesheet" type="text/css">

    <!-- Notify Css -->
    <link href="{{ asset('css/notify.css') }}" rel="stylesheet" type="text/css">

    <script>
        function sacar() {

            $('#inp1').removeClass('focused');
            $('#inp2').removeClass('focused');
            $('#inp3').removeClass('focused');

        }
    </script>
@endsection

@section('menu')
    @include('MesaDeAyuda.menu.CU03menu')
    @endsection


@section('content')
    


<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>CERRAR TICKETS</h2>
        </div>



        <!-- Multi Column -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            CERRAR TICKET SOLO EN CASO DE QUE EL PROBLEMA ESTE RESUELTO
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <form>
                            <!-- NUMERO DE TICKET Y NUMERO DE LEGAJO -->
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group form-float">
                                        <div id="inp1" class="form-line" >
                                            <label class="form-label" style=" top: -10px; font-size: 12px;">Nuevo estado de Ticket</label>
                                            <input type="text" class="form-control" readonly value="cerrado" disabled>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group form-float">
                                        <div id="inp2" class="form-line" >
                                            <label class="form-label" style=" top: -10px; font-size: 12px;">Fecha de Cierre</label>
                                            <input type="text" class="form-control" readonly value="08/05/2018" disabled>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group form-float">
                                        <div id="inp3" class="form-line" >
                                            <label class="form-label" style=" top: -10px; font-size: 12px;">Hora de Cierre</label>
                                            <input type="text" class="form-control" readonly value="11:43 pm" disabled>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div id="add" class="form-group form-float">
                                        <div class="form-line focused error">
                                            <textarea  id="observaciones_ticket" name="description" cols="30" rows="5" class="form-control no-resize" required></textarea>

                                            <label class="form-label">Observaciones</label>
                                        </div>
                                        <div class="help-info">Min. 3, Max. 255 caracteres</div>
                                        <label class="error">El campo contiene caracteres no permitidos</label>

                                    </div>
                                </div>


                            </div>

                            <!-- BOTONES-->
                            <div class="row clearfix">
                                <div class="button-demo">

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                        <button id="cancel" type="button" class="btn bg-grey m-t-15 waves-effect open-options" >CANCELAR</button>
                                        <button id="submm" type="button" class="btn bg-cyan m-t-15 waves-effect open-options" >CERRAR TICKET</button>

                                    </div>
                                </div>
                            </div>

                            <!-- CON OPCIONES-->
                            <div id="modal-options" class="iziModal" data-izimodal-group="group1" data-izimodal-loop="" data-izimodal-title="¿ESTA SEGURO DE CERRAR EL TICKET?" data-izimodal-subtitle="Cerrar en caso de haber solucionado el problema">

                                <!-- Basic Card -->
                                <div class="row clearfix">

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                                        <div class="body align-right" style="padding: 20px">

                                            <div class="button-demo">
                                                <button type="button" class="btn bg-grey waves-effect" onclick="cerrarIzimodal()">CANCELAR</button>
                                                <button type="button" class="btn bg-red waves-effect" onclick="errorNotify('falló al cerrar el ticket Nro {{ $idTicket }}')">ACEPTAR</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- #END# Basic Card -->



                            </div>

                            <!-- END CON OPCIONES-->

                            <!--ALERT -->

                            <div id="modal-alert" class="iziModal" data-izimodal-title="ERROR" data-izimodal-subtitle="El campo Observaciones no puede estar vacío"></div>
                            <!--END ALERT -->

                        </form>
                    </div>
                </div>
            </div>


        </div>
















    </div>




</section>

@endsection

@section('footer')
    

<!-- Bootstrap Notify Plugin Js -->
<script src="{{ asset('plugins/bootstrap-notify/bootstrap-notify.js') }}"></script>
<script src="{{ asset('js/notify.js') }}"></script>

<!-- Select Plugin Js -->
<script src="{{ asset('plugins/bootstrap-select/js/bootstrap-select.js') }}"></script>

<!-- Slimscroll Plugin Js -->
<script src="{{ asset('plugins/jquery-slimscroll/jquery.slimscroll.js') }}"></script>

<!-- Autosize Plugin Js -->
<script src="{{ asset('plugins/autosize/autosize.js') }}"></script>


<!-- Bootstrap Material Datetime Picker Plugin Js -->
<script src="{{ asset('plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js') }}"></script>

<script src="{{ asset('js/pages/forms/basic-form-elements.js') }}"></script>


<!-- Izimodal -->
<script src="{{ asset('plugins/izimodal/iziModal.min.js') }}"></script>


<script>
    //options
    $(document).on('click', '.open-options', function(event) {
        event.preventDefault();
        var textA = document.getElementById('observaciones_ticket');
        if(textA.value == "") {
            /*
            $('#modal-alert').iziModal({
                headerColor: '#d43838',
                timeout: 10000,
                timeoutProgressbar: true,
                pauseOnHover: true
            });
            $('#modal-alert').iziModal('open');;;
            */
            infoNotify('El campo observaciones esta vacío');
        }
        else {

            $('#modal-options').iziModal({
                headerColor: '#F44336',
                width: '50%', //横幅
                overlayColor: 'rgba(0, 0, 0, 0.5)', //モーダルの背景色
                fullscreen: true, //全画面表示
                transitionIn: 'fadeInUp', //表示される時のアニメーション
                transitionOut: 'fadeOutDown' //非表示になる時のアニメーション
            });
            $('#modal-options').iziModal('open');

        }
    });

    function cerrarIzimodal(){
        $('#modal-options').iziModal('close');
    }

</script>

@endsection