{% extends 'layout/baseLayout.html.twig' %}

{% block header %}

    <!-- Bootstrap Select Css -->
    <link href="{{ asset('plugins/bootstrap-select/css/bootstrap-select.css') }}" rel="stylesheet" />

    <!-- datedrooper -->
    <link href="{{ asset('plugins/datedrooper/datedropper.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block menu %}
    {% include 'GrupoDeResolucion/menu/CU07menu.html.twig' %}
{% endblock %}


{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>CONSULTAR INTERVENCIONES</h2>
        </div>



        <!-- Multi Column -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            INGRESE ALGUN CRITERIO DE BUSQUEDA
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <form method="post" action="{{ path('ProcesaConsultaIntervenciones') }}">

                            <!-- ESTADO-->
                            <div class="row clearfix">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <select class="form-control show-tick" title="Estado" name="estado">
                                                <option value="0">Todos</option>
                                                {% for estado in estados %}
                                                <option value="{{ estado.Id }}">{{ estado.Descripcion }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="row clearfix">
                                <div class="col-md-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="number" class="form-control" min="1" name="ticket">
                                            <label class="form-label">Número de Ticket</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="number" class="form-control" min="1" name="legajo">
                                            <label class="form-label">Número de Legajo</label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row clearfix">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-line">

                                            <input type="text" name="fechaD" id="fechadesde" placeholder="Fecha Desde" class="form-control" data-modal="true" data-large-mode="true" data-lang="es" data-format="d-m-Y" data-large-default="true" onfocus="desdeInit()">

                                            <script>
                                                function desdeInit() {

                                                    $('#fechadesde').dateDropper();

                                                }
                                            </script>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-line">

                                            <input type="text" name="fechaH" id="fechahasta" placeholder="Fecha Hasta" class="form-control" data-modal="true" data-large-mode="true" data-lang="es" data-format="d-m-Y" data-large-default="true" onfocus="hastaInit()">

                                            <script>
                                                function hastaInit() {

                                                    $('#fechahasta').dateDropper();

                                                }
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>



                           <button type="submit" class="btn bg-cyan m-t-15 waves-effect">BUSCAR</button>


                        </form>
                    </div>
                </div>
            </div>


        </div>


    </div>
</section>

{% endblock %}

{% block footer %}



<!-- Select Plugin Js -->
<script src="{{ asset('plugins/bootstrap-select/js/bootstrap-select.js') }}"></script>

<!-- Slimscroll Plugin Js -->
<script src="{{ asset('plugins/jquery-slimscroll/jquery.slimscroll.js') }}"></script>


<script src="{{ asset('js/pages/forms/advanced-form-elements.js') }}"></script>

<!--### TERMINAN LOS JS ###-->


<!-- dateDropper lib -->
<script src="{{ asset('plugins/datedrooper/datedropper.js') }}"></script>
{% endblock %}