@extends('layoutConstantes.baseLayout')

        @section('header')

    <link href="{{ asset('plugins/bootstrap/css/bootstrap.min.css') }}">

    <!-- JQuery DataTable Css -->
    <link href="{{ asset('css/jquery.dataTables.css') }}" rel="stylesheet">
    <link href="{{ asset('css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/colReorder.bootstrap.min.css') }}" rel="stylesheet">

    <!-- Wait Me Css -->
    <link href="{{ asset('plugins/waitme/waitMe.css') }}" rel="stylesheet" />

    <!-- Bootstrap Select Css -->
    <link href="{{ asset('plugins/bootstrap-select/css/bootstrap-select.css') }}" rel="stylesheet" />


    <script>
        function seleccionar(valor) {
            var label = document.getElementById('line');
            label.className+=' focused';
            var inp = document.getElementById('imput_selected');
            inp.value = valor;




        }
        function sacar() {

            $('#inp1').removeClass('focused');
            $('#inp2').removeClass('focused');
            $('#inp3').removeClass('focused');
            $('#inp4').removeClass('focused');
            $('#inp5').removeClass('focused');
            $('#inp6').removeClass('focused');
            $('#inp7').removeClass('focused');
        }
    </script>


@endsection

@section('menu')
    @include('GrupoDeResolucion.menu.CU11menu')
    @endsection


@section('content')


<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>CONSULTA DE CLASIFICACIONES DE TICKET</h2>
        </div>

        <!-- Hover Zoom Effect -->
        <div class="block-header">
            <h2>Cantidad de elementos encontrados</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box-4 hover-zoom-effect">
                    <div class="icon">
                        <i class="material-icons col-orange">assignment</i>
                    </div>
                    <div class="content">
                        <div class="text">CLASIFICACIONES</div>
                        <div class="number">4</div>
                    </div>
                </div>

            </div>

        </div>
        <!-- #END# Hover Zoom Effect -->





        <!-- Basic Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            LISTADO DE CLASIFICACIONES
                            <small>Todas las clasificaciones solicitadas por los criterios de busqueda</small>
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body table-responsive">
                        <table id="tabla" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Codigo clasificación</th>
                                <th>Nombre clasificación</th>
                                <th>Descripción</th>
                                <th>Estado</th>
                                <th>Acción</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>101014</td>
                                <td>Solicitud de cambio de contraseña</td>
                                <td>El usuario con id:user1092 olvidó su contraseña, favor de reestablecerla y enviarsela por correo electronico a francopizzutti@gmail.com</td>
                                <td>Activo</td>
                                <td>
                                    <div class="demo-single-button-dropdowns">
                                        <div class="btn-group">
                                            <button type="button" class="btn bg-orange dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Acción<span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{ url('/CU11DetalleClasificacion') }}">Ver detalles</a></li>
                                                <li><a href="{{ url('/CU12ModificarClasificacion') }}">Modificar clasificación</a></li>
                                                <li><a href="{{ url('/CU25BorrarClasificacion') }}">Borrar clasificación</a></li>

                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>101015</td>
                                <td>Problema en el funcionamiento del sistema operativo de PC</td>
                                <td>El usuario con id:user1180 reporta anomalias en el funcionamiento de su PC, y solicita ayuda de inmediato</td>
                                <td>Activo</td>
                                <td>
                                    <div class="demo-single-button-dropdowns">
                                        <div class="btn-group">
                                            <button type="button" class="btn bg-orange dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Acción<span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{ url('/CU11DetalleClasificacion') }}">Ver detalles</a></li>
                                                <li><a href="{{ url('/CU12ModificarClasificacion') }}">Modificar clasificación</a></li>
                                                <li><a href="{{ url('/CU25BorrarClasificacion') }}">Borrar clasificación</a></li>n</a></li>

                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Basic Table -->








    </div>
</section>


@endsection

@section('footer')
    <!-- Select Plugin Js -->
    <script src="{{ asset('plugins/bootstrap-select/js/bootstrap-select.js') }}"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="{{ asset('plugins/jquery-slimscroll/jquery.slimscroll.js') }}"></script>


<!-- Bootstrap Material Datetime Picker Plugin Js -->
<script src="{{ asset('plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js') }}"></script>

    <script src="{{ asset('js/pages/forms/advanced-form-elements.js') }}"></script>


<!-- tables -->
<!-- Jquery DataTable Plugin Js -->
<script src="{{ asset('plugins/datatables/jquery.dataTables.js"') }}></script>



<script>
    $(document).ready(function() {
        $('#tabla').DataTable({"language": {
            "search": "Buscar:",
            "zeroRecords": "No se encontraron Resultados",
            "infoFiltered": " - filtrado sobre _MAX_ entradas",
            "infoEmpty": "Ninguna Entrada para mostrar",
            "paginate": {
                "first":      "Primero",
                "last":       "Último",
                "next":       "Próximo",
                "previous":   "Previo"
            },"lengthMenu":     "Mostrar _MENU_ entradas",
            "info":           "Mostrando _START_ de _END_ de _TOTAL_ entradas",
            colReorder: true
        }
        });
    } );
</script>
@endsection